#container .scroll-img {
  display: block;
  width: 1000px;
  height: 500px;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
}
#container .scroll-img .img-box {
  display: block;
  width: 1000px;
  height: 500px;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
}
#container .scroll-img .img-box ul#scroll-img-ul {
  display: block;
  width: 9999px;
  height: 500px;
  margin: 0;
  padding: 0;
}
#container .scroll-img .img-box ul#scroll-img-ul li {
  display: none;
  width: 1000px;
  height: 500px;
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  top: 0px;
  left: 0px;
}
#container .scroll-img .img-box ul#scroll-img-ul li a {
  display: block;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
#container .scroll-img .img-box ul#scroll-img-ul li a img {
  display: block;
  width: 1000px;
  height: 500px;
  margin: 0;
  padding: 0;
  background: none;
  border: none;
}
